@{
  Layout = "_Layout";
}

<h1>Welcome to Library System App</h1>

<p>@Html.ActionLink("Manage Books", "Index", "Books")</p>
<p>@Html.ActionLink("Manage Authors", "Index", "Authors")</p>
<p>@Html.ActionLink("Manage Patrons", "Index", "Patrons")</p>
<!-- <p> add more routes when update models</p> -->